services:
  mosquitto:
    image: eclipse-mosquitto:2
    container_name: mqtt_broker
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log

  node-middleware:
    build: ./middleware
    container_name: middleware_server
    depends_on:
      - mosquitto
      # - graphhopper
    environment:
      - MQTT_BROKER=mqtt://mosquitto:1883
      - GH_URL=http://graphhopper:8989/route

  graphhopper-import:
    image: israelhikingmap/graphhopper:latest
    container_name: graphhopper_import
    volumes:
      - ./maps:/data
    command: >
      --import
      -i /data/novaliches.osm.pbf
      -o /data/graph-cache
      -c /data/config.yml
    restart: "no"

  graphhopper:
    image: israelhikingmap/graphhopper:latest
    container_name: graphhopper
    ports:
      - "8989:8989"
    environment:
      - JAVA_OPTS=-Xmx2g
    volumes:
      - ./maps:/data
    restart: unless-stopped
    command: --config /data/config.yml
    depends_on:
      - graphhopper-import

  # react-app:
  #   build: ./app
  #   container_name: react-vite
  #   ports:
  #     - "3000:80"
