services:
  mosquitto:
    image: eclipse-mosquitto:2
    container_name: mqtt_broker
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log

  # node-middleware:
  #   build: ./middleware
  #   container_name: graphhopper_middleware
  #   depends_on:
  #     - mosquitto
  #     - graphhopper
  #   environment:
  #     - MQTT_BROKER=mqtt://mosquitto:1883
  #     - GH_URL=http://graphhopper:8989/route

  # php-backend:
  #   image: php:8.2-apache
  #   container_name: web_backend
  #   ports:
  #     - "8080:80"
  #   volumes:
  #     - ./php:/var/www/html
  #   depends_on:
  #     - mosquitto
  graphhopper:
    build: ./maps
    container_name: graphhopper
    restart: unless-stopped
    ports:
      - "8989:8989"
      - "8990:8990"
    volumes:
      - ./maps/graph-cache:/app/graph-cache
      - ./maps/config/config.yml:/app/config.yml
